@import '../css-namespace';

@include css-namespace('test-namespace') {
  
  background-color: red; // Would apply to the namespace container
  
  .test {
    background-color: yellow; // Would only apply to an element within the namespace container
  }

	&.test {
		background-color: blue; // Would apply to the class where a namespace has been defined.
	}

}

// Will throw a warning, but still compiles without the alteration.

@include css-namespace('test-namespace') {
  background-color: blue; // Won't get outputted in stylesheet.
}